.container {
  background-color: black;
}
.nav-link {
  color: #4ac08f !important;
  float: right !important;
}

.d-flex {
  float: right;
}

.dropdown-menu {
  background-color: black !important;
  color: #2fb4ff !important;
}
.navbar-brand {
  color: #2fb4ff !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.05);

  font-size: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.navbar div a:hover {
  color: #2fb4ff !important;
  background: rgba(255, 255, 255, 0.1) Im !important;
}
