.arrow {
  border: solid teal;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.info h3 {
  background-image: linear-gradient(
    90.35deg,
    #4ac08f 2.49%,
    #2fb4ff 101.2%,
    #2fb4ff 101.2%
  );
}
.flex-row-container-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.flex-row-container-filter > .flex-row-item {
  flex: 1 1 25%; /*grow | shrink | basis */
  height: 100px;
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  border-color: #2fb4ff;
  color: #2fb4ff;
}
